@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    background-color: bisque;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 10rem);
}

/*header*/
header {
    background-color: aqua;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 2/-1;
    padding: 0.3rem 2rem 0 2rem;
}

#search-profile,
#greeting,
#search-bar,
#profile-name,
#user-name {
    display: flex;
}

#search-profile,
#greeting,
#user-name {
    justify-content: space-between;
    align-items: center;
}

#search-bar input {
    width: 35vw;
    height: 1.8vw;
    border-radius: 5vw;
    margin-left: 0.5vw;
}

#profile-name,
#user-name {
    align-items: center;
}

#profile-name img {
    margin-right: 2vw;
}

#profile-name img:nth-child(2) {
    width: 3.5vw;
}

#profile-name img:nth-child(2),
#user-name img {
    border-radius: 50%;
}

#search-profile {
    margin-bottom: 1.2rem;
}

#user-name img {
    width: 5vw;
    margin-right: 0.5rem;
}

#user-name span strong,
#profile-name span strong {
    font-weight: 800;
}

#user-name span strong:first-child {
    font-size: 0.8rem;
}

#user-name span strong:last-child {
    font-size: 1.2rem;
}

/*buttons*/
.head-btn {
    font-weight: bold;
    color: aliceblue;
    background-color: blue;
    width: 6vw;
    height: 2.5vw;
    border-radius: 3vw;
    margin-left: 1rem;
}

/*nav*/
#sidebar-nav {
    background-color: blue;
    grid-row: 1/-1;
    grid-column: 1/2;
}

/*main element*/
main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 5rem);
    grid-row: 2/-1;
    grid-column: 2/-1;
    padding: 2rem 1rem 1rem 1rem;
}

#main-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1/-1;
    grid-column: 1/4;
    padding-right: 0.5rem;
}

/*individual card (main 6)*/
.card,
.main-card-icons {
    display: flex;
}

.card,
.side-card {
    border-radius: 7px;
}

.card {
    flex-direction: column;
    padding: 1vw;
}

#main-cards,
#rigt-side-cards {
    gap: 1rem;
}

.main-card-icons {
    justify-content: flex-end;
    align-items: center;
}

.main-card-icons>img {
    margin-right: 0.7rem;
}

/*side cards*/
#rigt-side-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row: 1/-1;
    grid-column: 4/-1;
}

.side-card {
    grid-column: 1/-1;
    width: 100%;
    padding: 0.8vw;
    font-size: 0.8rem;
    margin-left: 0.5vw;
}

.card-1 {
    margin-bottom: 0.5vw;
}

.card-2 div {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.card-2 div:last-of-type {
    margin-bottom: 0.2vw;
}

.card-2 div img {
    border-radius: 50%;
    width: 2.5vw;
    margin-right: 1vw;
}

/*card topic titles (projects, announcements, trending)*/
.float-title {
    position: absolute;
    top: 1rem;
}

.projects,
.announce {
    top: 12.7vw;
}

.announce {
    right: 11vw;
}

.trending {
    top: 37.7vw;
    right: 15vw;
}