* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    color: black;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page_wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    height: 108px;
}

.head_left {
    grid-column: 1 / 4;
}

.head_left .profile_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 1rem;
    padding: 0.2rem 1rem 0;
}

.head_left .search_bar {
    display: flex;
    margin-left: 1rem;
    padding: 0.7rem 1rem 0.5rem;
}

.head_left .search_bar>img {
    box-shadow: none;
    height: 22px;
    width: 22px;
}

.head_left .search_bar>input[type='search'] {
    width: 30rem;
    height: 1.2rem;
    background-color: #ddd;
    border-radius: 10px;
    border: 1px solid lightslategray;
}

.head_left .profile_header>span {
    font-weight: bold;
    margin-left: -14rem;
}

.head_left .profile_header>img {
    box-shadow: none;
    height: 60px;
    width: 60px;
}

.head_left .profile_header>span>p:first-child {
    font-size: 12px;
}

.head_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 4 / 6;
    align-items: center;
}

.head_right img {
    box-shadow: none;
}

.head_right .bell_icon img {
    box-shadow: none;
    height: 23px;
    width: 23px;
    margin-left: 2rem;
}

.head_right .thumbnail img {
    height: 50px;
    width: 50px;
    margin-left: -12rem;
}

.head_right .user_name>p {
    font-size: 15px;
    font-weight: bold;
    margin-left: -10rem;
}

.head_right .buttons {
    display: flex;
}

.head_right .buttons button {
    height: 2rem;
    width: 6rem;
    background-color: #c72c41;
    border-radius: 15px;
    border-color: #c72c41;
    color: #fff;
    font-size: 16px;
    font-size: bold;
}

.head_right .buttons button:nth-child(2),
.head_right .buttons button:nth-child(3) {
    margin-left: 1.5rem;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #ee4540;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.sidebar>ul {
    list-style: none;
    line-height: 2;
    padding: 0.5rem 1rem 1rem;
}

.sidebar .side_row_2 {
    margin-top: -3rem;
}

.sidebar #sidebar_head {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: bold;
}

.sidebar #sidebar_head>img {
    height: 22px;
    width: 22px;
}

.sidebar>ul>li {
    display: flex;
    align-items: center;
}

/*sidebar icons*/
img {
    margin-right: 10px;
    height: 17px;
    width: 18px;
    border-radius: 2px;
}

.content_cards {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: #ddd;
    border: 1px solid blue;
}

.content_cards>p {
    margin-left: 1.5rem;
}

.content_cards .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.content_cards .cards>div {
    height: 150px;
    width: 370px;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: #fff;
    border-left: 7px solid #801336;
}

.content_cards .cards div .card_title {
   margin-bottom: 2px;
   font-weight: bold;
}

.content_cards .cards div .social_icons {
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
 }

 .content_cards .cards div .social_icons>img {
    height: 25px;
    width: 25px;
    box-shadow: none;
 }

.side_cards {
    grid-column: 3;
    grid-row: 2 / 4;
    border: 1px solid blue;
}

.content_cards .cards>div,
header,
img {
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.content_cards>div,
.side_cards>div {
    border: 1px solid blue;
}